<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBazEmYqABDjU9627m5AaVH47piSsB78G8</string>
	<key>GCM_SENDER_ID</key>
	<string>738499328288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.intelliattendSmartboard</string>
	<key>PROJECT_ID</key>
	<string>intelliattend-a2564</string>
	<key>STORAGE_BUCKET</key>
	<string>intelliattend-a2564.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:738499328288:ios:7a4c7b8c9d0e1f2a3b4c5d</string>
</dict>
</plist>
